@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --fonte-1: Arial, Verdana, Helvetica, sans-serif;
    --fonte-2: 'Passion One', 'cursive';
    --fonte-3: 'Sriracha', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh; /*Tamanho minimo do hmtl e body*/
    background-color: darkgray;
}

header{
    color: white;
    background-color: black;
    text-decoration: none; /*Remove o sublinhado do nome Milton*/
    text-align: center;
    
    
}
header > h1{
    padding-top: 50px;
    font-family: var(--fonte-2);
    font-size: 5em;
}

header > p{
    color: white;
    font-family: var(--fonte-1);
    font-size: 1em;
    padding-bottom: 50px;
}

header > p > a {
    font-family: var(--fonte-1);
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header > p > a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte-3);
    font-size: 2em;
    padding-left: 30px; /*Coloca as letras mais para a esquerda*/
    line-height: 2em; /*Faz um espaçamento entres as letras*/
    
    /*Cria um espaço entre cada uma das section */
    padding-top: 10vh;
    padding-inline: 10vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

/*Cria uma sombra na section que tem imagem por tras*/
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px; /*Ajusta a largura da caixa*/
}

footer{
    background-color: black;
    font-family: var(--fonte-1);
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 1em;
}
footer > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

footer > a:hover{
    text-decoration: underline;
}